@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --cool-black: #1f2937;
  --strong-white: #f9faf8;
  --weak-white: #e5e7eb;
  --cool-blue: #3882f6;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: var(--cool-black);
  color: var(--strong-white);
  padding: 20px;
  max-height: 70px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
}
a {
  text-decoration: none;
  color: white;
}
ul li a:hover {
  color: yellow;
  text-shadow: 2px 2px 3px white;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
.right-nav a {
  font-size: 20px;
}
.header-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: var(--cool-black);
  padding: 100px;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 50%;
}
.header-main {
  font-size: 48px;
  font-weight: 800;
  color: var(--strong-white);
}
.header-second {
  font-size: 18px;
  color: var(--weak-white);
}
.header-img {
  min-width: 200px;
  margin-left: 20px;
}
header button {
  min-width: 150px;
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  background: var(--cool-blue);
  color: var(--strong-white);
  border: 1px solid var(--cool-blue);
  border-radius: 10px;
}
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.main-cont-header {
  font-size: 36px;
  font-weight: 800;
  color: var(--cool-black);
}
.info-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 30px 0 30px 0;
}
.cards img {
  border: solid 5px var(--cool-blue);
  border-radius: 10px;
}

.cards .card-text {
  width: 200px;
}

.quote-cont {
  background: var(--weak-white);
  font-size: 36px;
  font-weight: 300;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.quote-cont div {
  font-weight: bold;
}
